:root {
  --gray-500: rgba(102, 112, 133, 1);
  --white: rgba(255, 255, 255, 1);
  --gray-300: rgba(208, 213, 221, 1);
  --text-md-medium-font-family: "Inter", Helvetica;
  --text-md-medium-font-weight: 500;
  --text-md-medium-font-size: 16px;
  --text-md-medium-letter-spacing: 0px;
  --text-md-medium-line-height: 24px;
  --text-md-medium-font-style: normal;
  --shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --label-colorslc-l-secondary: rgba(60, 60, 67, 0.6);
}
